{% load static %}
<!DOCTYPE html>
    <head>
        <title>Росреестр</title>
    		<script type="text/javascript" src="{% static 'reports/js/jquery-3.3.1.min.js' %}" ></script>
    		<script src="{% static 'reports/js/jquery.multi-select.js' %}" type="text/javascript"></script>
    		<link rel="stylesheet" href="{% static 'reports/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'reports/css/reports.css' %}">
    		<link href="{% static 'reports/css/font-awesome.min.css' %}" rel="stylesheet" />
    		<link href="{% static 'reports/css/multi-select.css' %}" media="screen" rel="stylesheet" type="text/css">
    		<script src="{% static 'reports/js/tokenize2.min.js' %}"></script>
    		<link href="{% static 'reports/css/tokenize2.min.css' %}" rel="stylesheet" />
    		<script src="{% static 'reports/js/moment-with-locales.min.js' %}"></script>
    		<script src="{% static 'reports/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    		<link href="{% static 'reports/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />
    </head>
    <body>
        <div class="page-header">
    			<div class="row">
    				<div class="col-md-6">
              <div class="m-3">
                <a href="/reports/"><img src="../../static/reports/img/gerb.png"></a>
              </div>
    				</div>
    				<div class="col-md-6">
    					<p class="text-right m-3" id="accountName"></p>
    				</div>
    			</div>
        </div>
        <div class="content container">
			{% block content %}
			{% endblock %}
        </div>
        <div class=”footer”></div>
		<script type="text/javascript">

		</script>
    </body>
</html>
